#about {
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .abt-img {
    height: calc(100% - 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 35rem;
    }
  }
  .abt-writeup {
    color:antiquewhite;
    font-size: 17px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width:600px) {
  #about {
    .abt-img {
      margin-bottom: 15px;
      img {
        height: 25rem;
      }
    }
    .abt-writeup {
      font-size: 15px;
      text-align: center;
    }
  }

}
