.flex {
  display: flex;
  align-items: center;
}
a {
  display: inline-block;
  text-decoration: none;
}
.versus{
  /* height:200px; */
  width: calc(100% - 200px);
}
.primary-button {
  border-radius: 3em;
  background-color: red;
  color: white;
  padding: 10px 35px;
  transition: 0.2s ease;
}
.primary-button:hover {
  background-color: rgb(99, 44, 88);
  color: white;
}
.hero-video {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #000000; */
  background: rgba(0, 0, 0, 0.1);
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 70vh;
  flex-direction: column;
}
.hero-video h1 {
  font-family: "Teko", sans-serif;
  font-size: 10rem;
}
.hero-video p {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.hero-video a {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
}
video {
  width: 100%;
  height: 70vh;
}
.video-bg {
  position: absolute;
  z-index: -1;
  min-width: 100%;
  object-fit: cover;
}

/* Games Cards */
.big-feature-section {
  color: white;
  padding: 20px var(--padding-inline) 0;
}
.big-feature-container {
  height: 25rem;
  border-top-right-radius: 3em;
  background-color: white;
  color: #000000;
  gap: 20;
}
.feature-img {
  width: 45%;
  height: 25rem;
}
.feature-img img {
  width: 100%;
  height: 100%;
}
.feature-desc {
  gap: 10px;
  width: 55%;
  padding-inline: var(--padding-inline);
  flex-direction: column;
  align-items: flex-start;
}
.feature-desc .feature-desc-left h4 {
  font-size: 1.2em;
}
.feature-desc h3 {
  font-size: 3em;
}
.big-feature-container2 {
  height: 25rem;
  border-top-left-radius: 3em;
  background-color: white;
  color: #000000;
  gap: 20;
}
.feature-desc-left {
  width: 55%;
  padding-inline: var(--padding-inline);
  flex-direction: column;
  align-items: flex-start;
}
.feature-desc-left h4 {
  font-size: 1.2em;
}
.feature-desc-left h3 {
  font-size: 3em;
}
.big-glassmorphism-card {
  margin-block: 20px;
}
.glassmorphism-card {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  height: 25rem;
  gap: 5px;
}
.big-feature-image {
  margin-inline: 20px;
  width: 45%;
  /* border: 1px solid red; */
  height: 22em;
}
.big-feature-image img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
.descirp {
  margin-right: 20px;
  /* background-color: white; */
  height: 22em;
  border-radius: 1em;
  width: 50%;
  padding-inline: var(--padding-inline);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  color:bisque
}
.descirp h4 {
  font-size: 1.2em;
}
.descirp h3 {
  font-size: 3em;
  display: flex;
  text-align: end;
}
.descirp p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color:bisque
}
.descirp-2 {
  margin-left: 20px;
  /* background-color: white; */
  height: 22em;
  border-radius: 1em;
  width: 45%;
  padding-inline: var(--padding-inline);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  color:bisque
}
.big-feature-image-2 {
  margin-inline: 20px;
  width: 50%;
  height: 22em;
}
.big-feature-image-2 img {
  border-radius: 1em;
  width: 100%;
  height: 100%;
}
.descirp-2 h4{
  font-size: 1.2em;
}
.descirp-2 h3 {
  font-size: 3em;
}
.descirp-2 p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color:bisque
}
    



