.backgroundimg{
    border-radius:0px 0px 15px 15px;
    /* width: 1000px; */
    width: 100%;
    /* max-height: 10%; */
    height: 19rem;
  }
  .profileimg{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-top: -8rem;
    margin-left: 3rem;
    
  }
  .details{
    text-align: center;
  }
  .heading{
    color: aliceblue;
  }
  .detailsText{
    color: aliceblue;
    text-align: left;
    margin-left: 6rem;
  }
  .games{
    border-radius: 8px; 
    /* background-color: aqua; */
    border-style: 1px solid  rgb(255, 255, 255);
    color: aliceblue;
    border: solid;
    /* border-color: black; */
    text-align: center;
    /* color: black; */
    font-weight: 600;
    height: 65px;
    
    
    /* background: rgba(175, 130, 177, 0.36);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(175, 130, 177, 1); */
  }



  /* ---------------------------- Media Queries ------------------------ */

  /* mobile responsive */
@media (min-width: 320px) and (max-width: 480px) {
.heading{
  text-align: center;
}
.detailsText{
  margin-top: 1rem;
    color: aliceblue;
    text-align: center;
    margin-left: 0;
  
}
.profileimg{
  margin-left: 0;
  height: 15rem;
  width: 15rem;
}
}