.profileimg{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}
.T-text{
    font-size: 4rem;
}
.prof-btn{
    font-size:2rem;
    border-radius: 1rem;
    background-color: rgba(225, 102, 231, 0.36);
    font-weight: bold;
    text-align: center;
}
.prof-btn:hover{
    letter-spacing: 0.05rem;
    box-shadow: 0 0 5px #22c8e5;
}



@media (min-width: 320px) and (max-width: 480px) {
    .profileimg{
      height: 15rem;
      width: 15rem;
    }
    .T-text{
        font-size: 3rem;
    }
    .prof-btn{
        font-size:1.5rem;
    }
}