#team{
  background: #1C003E;
  padding: 5rem 0;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.heading::before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 25%);
  height: 1px;
  background: rgb(170, 170, 170);
  bottom: -3px;
  left: calc(13% - 0px);
}
.heading::after {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 50%);
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(72, 0, 252, 1) 18%,
    rgba(211, 3, 247, 1) 82%
  );
  bottom: -4px;
  left: calc(25% - 0px);
}
.team-image {
  /* border-radius:50%; */
  /* border: 4px solid black; */
}

.card {
  border-radius: 4%;
  display: block;
  text-align: center;
  background: #892be2b2;
  color:bisque;
}
.card:hover {
  /* transform: scale(1.1); */
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
.card-body {
  padding: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .team-image {
    width: 15rem;
    height: 15rem;
  }
}
